@font-face {
    font-family: 'edwardian';
    src: url('edwardianscriptitc.ttf') format('truetype');
    font-weight: normal; /* Puedes cambiarlo a bold, etc. */
    font-style: normal;  /* Puedes cambiarlo a italic, etc. */
}


#nombre-boda{
    font-family: "Aboreto", system-ui;
    color: antiquewhite;
}

#fecha{
    font-family: "edwardian", system-ui;
    color: #253F5A;
}



html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden; /* Evita el desplazamiento horizontal */
}

* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* Resto de tu CSS ... */




.body {
    height: 100vh; /* Ocupar el 100% de la altura de la ventana */
    width: 100%; /* Ocupar el 100% del ancho */
    display: flex; 
    justify-content: center; 
    align-items: center; 
    background-image: url('../assets/img/foto-body-2.jpg'); /* Imagen de fondo principal */
    background-size: cover; /* Asegura que la imagen cubra todo el área */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    position: relative; /* Necesario para el posicionamiento del overlay */
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden; /* Evita el desplazamiento horizontal */

}

#foto-tiempo{
    max-width: 100%; /* La imagen no excederá el ancho del contenedor */
    height: auto;    /* Mantiene la proporción de la imagen */

}

.body-final{
    height: 100%; /* Ocupar el 100% de la altura de la ventana */
    width: 100%; /* Ocupar el 100% del ancho */
    text-align: center; 
    justify-content: center; 
    align-items: center; 
    background: rgb(168,178,188);
    background: linear-gradient(180deg, rgba(168,178,188,1) 0%, rgba(19,66,110,1) 100%);
}

.body-tiempo{
    height: 50px; /* Ocupar el 100% de la altura de la ventana */
    width: 100%; /* Ocupar el 100% del ancho */
    text-align: center; 
    justify-content: center; 
    align-items: center; 
    background-image: url('../assets/img/dia.png'); /* Imagen de fondo del overlay */
    z-index: 1000;
    position: relative;
    margin-top: -40px;
}


.body-final{
    height: auto; /* Ocupar el 100% de la altura de la ventana */
    width: 100%; /* Ocupar el 100% del ancho */
    text-align: center; 
    justify-content: center; 
    align-items: center; 
    background-image: url('../assets/img/nuevo-fondo-final.png'); /* Imagen de fondo del overlay */
    z-index: 1000;
    position: relative;
    margin-top: -40px;
    background-size: cover; /* Asegura que la imagen cubra todo el área */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    padding: 10px;
}



.overlay {
    position: absolute; /* Posición absoluta para que se superponga */
    bottom: 0; /* Empieza desde la parte inferior */
    left: 0; /* Empieza desde la parte izquierda */
    height: 35%; /* Ocupa el 35% de la altura */
    width: 100%; /* Ocupa todo el ancho */
    background-size: cover; /* Asegura que la imagen cubra todo el área */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    display: flex; /* Usar flexbox para centrar el texto */
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    padding: 20px 0; /* Espacio arriba y abajo del texto */
}

#nombre-boda {
    margin: 0; /* Eliminar márgenes por defecto */
    font-size: 55px; /* Tamaño de fuente */
    color: white; /* Color del texto */
    text-align: center;
    line-height: 55px;
    font-weight: 300;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.066);
}


#casamos{
    color: #253F5A;
    font-size: 28px;
    font-family: "Aboreto", system-ui;
    margin: 0px;
}




#texto-normal{
    color: #253F5A;
    font-size: 16px;
    font-family: "Aboreto", system-ui;
    margin: 0px;
    font-weight: 600;
}

#texto-normal-mont{
    color: #253F5A;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    font-weight: 600;
}



.img-play {
    width: 80%;
    height: auto; /* Mantiene la proporción */
}

.img-anillos{
    width: 20%;
    height: auto; /* Mantiene la proporción */
}


.img-play-flor{
    width: 80%;
    height: auto; /* Mantiene la proporción */
}


.body-dos{
    height: auto;
    background-color: #A8B2BC;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 35px;
 

}


.btn-primario{

    border: none;
    background-color:#fff ;
    color: #253F5A;
    padding: 6px;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    font-weight: 600;
}
.body-noscasamos{
    background: rgb(168,178,188);
    background: linear-gradient(180deg, rgba(168,178,188,1) 0%, rgba(19,66,110,1) 100%);
}


.texto-datos{
    color: #253F5A;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    font-weight: 600;
}




  /* Media Query para pantallas más pequeñas (ej. tablets) */
  @media (max-width: 768px) {
    .titulo-2 {
        font-size: 20px;
    }
    .titulo{
        font-size: 26px;
        font-weight: 700;
    }

    .texto{
        font-size: 16px;
    }
    
    .numero{
        font-size: 14px;
    }
        .main-content {
            padding: 10px;
        }
    }

/* Media Query para pantallas aún más pequeñas (ej. smartphones) */
    @media (max-width: 480px) {
        .header, .footer {
            font-size: 16px;
        }

        .titulo-2 {
            font-size: 20px;
        }
        .titulo{
            font-size: 26px;
            font-weight: 700;
        }

        .texto{
            font-size: 14px;
        }

        .numero{
            font-size: 14px;
            width: 20px;
            height: 20px;
        }

        .texto-lista{
            font-size: 16px;
        }


        .row-principal{
            width: 95%;
        }


    }


    .tiempo-resta{
        font-size: 26px;
        color: #253F5A;
        font-weight: 600;
    }

    .tiempo-resta-dato{
        font-size: 12px;
        color: #253F5A;
        font-weight: 600;
    }

    .cuenta-banco{
        width: 80%;
        border: none;
        background-color:#fff ;
        color: #253F5A;
        padding: 6px;
        border-radius: 10px;
        margin-top: 15px;
        margin-bottom: 10px;
        font-weight: 600;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }


    .curtain {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1100;
        overflow: hidden; 
        cursor: pointer; 
        background: #f8f8f8; /* Color de fondo */
    }
    
    .curtain-left   ,
    .curtain-right {
        position: absolute;
        top: 0;
        width: 50%; 
        height: 100%;
        background-color: #fff; /* Color del sobre */
        border: 2px solid #ebebeb; /* Borde del sobre */
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra para dar profundidad */
        transition: transform 0.8s ease; 
        /* Crear el efecto de solapa */
    }
    
    .curtain-left {
        left: 0;
        border-right: none; /* Sin borde derecho para parecer que se abre */
        transform-origin: left; /* Punto de pivote a la izquierda */
    }
    
    .curtain-right {
        right: 0;
        border-left: none; /* Sin borde izquierdo para parecer que se abre */
        transform-origin: right; /* Punto de pivote a la derecha */
    }
    
    .curtain.open .curtain-left {
        transform: translateX(-100%) rotateY(-10deg); /* Mover hacia la izquierda y rotar */
    }
    
    .curtain.open .curtain-right {
        transform: translateX(100%) rotateY(10deg); /* Mover hacia la derecha y rotar */
    }
    
    .curtain.open .curtain-image {
        transform: translateX(-130%); 
        transition: transform 0.8s ease; 
    }
    
    .curtain-image {
        position: relative; 
        z-index: 10; 
    }
    
    .curtain-text {
        color: white;
        font-size: 24px;
        text-align: center;
        position: relative; 
        z-index: 1; 
    }
    









    .carousel {
        position: relative;
        max-width: 600px;
        overflow: hidden;
        border: 2px solid #ccc;
    }
    
    .carousel-images {
        display: flex;
        transition: transform 0.5s ease;
    }
    
    .carousel-images img {
        max-width: 100%;
        display: block;
    }
    
    button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: rgba(255, 255, 255, 0.7);
        border: none;
        cursor: pointer;
        font-size: 24px;
        padding: 10px;
    }
    
    .prev {
        left: 10px;
    }
    
    .next {
        right: 10px;
    }
    
